.awssld,
.awssld__wrapper {
    @apply h-[unset] max-h-[85vh] min-w-[62vw];
}

.awssld__content {
    background-color: transparent !important;
}

.awssld__timer--run {
    display: none;
}

.awssld__content>img,
.awssld__content>video {
    @apply object-contain !important;
}


.awssld__bullets {
    z-index: 50;
    bottom: 6% !important;
    @apply w-[12px] h-[12px];
}


.awssld__bullets>button {
    background-color: transparent !important;
    border: 2px solid white !important;
    opacity: 0.9;
}

.awssld__bullets>button.awssld__bullets--active {
    background-color: #fff !important;
}

@media only screen and (max-width: 768px) {

    .awssld,
    .awssld__wrapper {
        height: 100vh;
        max-height: 100vh;
    }

    .awssld__bullets button {
        z-index: 50;
        bottom: 6% !important;
        width: 8px !important;
        height: 8px !important;
    }
}