.awssld,
.awssld__wrapper {
    @apply h-[unset] max-h-[90vh] min-w-[75vw];
}

.awssld__content {
    background-color: black !important;
}

.awssld__timer--run {
    display: none;
}

.awssld__content>img,
.awssld__content>video {
    @apply object-contain !important;
}


.awssld__bullets {
    z-index: 50;
    bottom: 6% !important;
    @apply w-[12px] h-[12px];
}


.awssld__bullets>button {
    background-color: transparent !important;
    border: 2px solid white !important;
    opacity: 0.9;
}

.awssld__bullets>button.awssld__bullets--active {
    background-color: #fff !important;
}

.awssld__controls button {
    background: black !important;
    opacity: 90%;
    border-radius: 8px;
}

.contact-slider .awssld__bullets {
    display: none;
}

.contact-slider,
.contact-slider .awssld,
.contact-slider .awssld__wrapper,
.contact-slider .awssld__container,
.contact-slider .awssld__box {
    max-width: 70vw !important;
    min-width: 50vw !important;
}

@media only screen and (max-width: 1200px) {

    .awssld,
    .awssld__wrapper {
        @apply h-[unset] max-h-[90vh] min-w-[65vw];
    }
}

@media only screen and (max-width: 768px) {

    .awssld,
    .awssld__wrapper {
        height: 40vh;
        max-height: 40vh;
    }

    .awssld__bullets button {
        z-index: 50;
        bottom: 6% !important;
        width: 8px !important;
        height: 8px !important;
    }

    .awssld__content>img,
    .awssld__content>video {
        object-fit: cover !important;
    }
}