.awssld,
.awssld__wrapper {
    max-height: 90vh;
}

.awssld__bullets {
    z-index: 50;
    bottom: 6% !important;
}

.awssld__bullets>button {
    background-color: transparent !important;
    border: 2px solid white !important;
    opacity: 0.9;
}

.awssld__bullets>button.awssld__bullets--active {
    background-color: #fff !important;
}