@tailwind base;
@tailwind components;
@tailwind utilities;

/* adobe fonts: Quiche Text, Cy */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* css modules */
@import "./awesomeSlider.css";

body {
    @apply bg-offWhite;
}

h1,
h2,
h3,
h4,
button {
    font-family: "quiche-sans";
}

a,
p,
ul,
ol {
    font-family: "cy";
}

/* font overrides */
.font-quiche {
    font-family: "quiche-sans";
}

.font-cy {
    font-family: "cy";
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
}

/* nav */
.active-link {
    @apply underline underline-offset-4 decoration-bubblegum decoration-4 font-semibold;
}